

body{
	background-image: linear-gradient(to left, #141e30, #243b55);
	margin:0px;
	display: flex;
	flex-direction: column;
	align-items: center
	}


.header{
	background-color: whitesmoke;
	border: 0px solid white;
	color:white;
	padding-right: 1.5vw;
	padding-left: 1.5vw;
	align-items: center;			
	text-align: center;
	display: flex;
	align-content: center;
	flex-direction:column;
	box-shadow: 4px 3px 10px 1px grey;
	width: 100vw;
	height: 6vh;
}

.div1{
	align-items: center;
	align-content: center;	
	text-align: center;
	display: flex;
	width: 100vw;
	height: 88.2vh;
	border-radius: 25px;
	margin-top:10px;
	margin-bottom:10px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#div1_1{
	background-color: whitesmoke;
	display:flex;
	flex-direction: row;
	width: 51%;
	height:97%;
	border-radius: 10px;
	padding-left: 18px;
	color:#757575;
	font-family:poppins;
}

#div1_2{
	background-color:whitesmoke;
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	width:45%;
	height: 97%;
	border-radius: 10px;
}

#div1_2_1,#div1_2_2{
	background-color: #141e30;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	width:46%;
	height: 90%;
	border-radius: 8px;
	box-shadow: 10px 10px 15px 0px #bbb;
	color:whitesmoke;
	font-family: open sans;
	font-size: 30px;
	padding-top: 15px;
}

.div_card{
	margin-top:5%;
}

.card{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	padding-top:5%;
	margin-left:7%;
	margin-right:7%;
	font-family: open sans;
	font-size:20px
}

.ip{
	background-color:#141e30;
	padding-left: 5px;		
	padding-bottom: 10px;
	border:0px solid white;
	border-bottom: 1px solid white;
	outline:none ;
	width: 90%;
	height:25px;
	font-family:open sans;
	font-size: 15.5;
	color:white;
}

.atmcard{
	width: 90%;
	height:26%;
	display:flex;
	flex-direction: column;
	align-items: center;
	background-image:linear-gradient( -45deg, #d5d7e5, #eee, #d5d7e5);
	margin:8% 5% -3%;
	animation: shine 1s infinite ease-in;
	border-radius: 15px;
	box-shadow:3px 2px 10px 0 #aaa;
}
.atmcard_elem1{
	background:#666; 
	display:flex; 
	flex-direction: row; 
 	width: 100px;
    height: 50px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
	position:relative;
	left:65px;
	box-shadow: inset 5px -1px 15px 1px #aaa;
}

.atmcard_elem2{
	background:#666; 
	display:flex; 
	flex-direction: row; 
 	width: 90px;
    height: 25px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
	position:relative;
	left:-65px;
	top:107px;
	box-shadow: inset 5px -1px 15px 1px #aaa;
}
.chip{
	height: 35px;
	border-radius:19%;
	position:relative;
	top: 65px;
	left:-125px
}

.button1 {
			border-radius: 25px;
			border:0px;
			background-image: linear-gradient(to left, #141e30, #243b55);
			padding: 0vh;
			width: 7vw;
			height: 7vh;
			margin: 1vw;
			font-family:MuseoModerno;
			font-size:15;
			color: #ddd;
			outline: none;
			position:absolute;
			left:44%;
			top:85.5%;
				
		}
.button1:hover {
			box-shadow: 1px 1px 5px 1px grey;
		}
.dorpdown{
	
}

@keyframes shine { 
  0% {
      background-image:linear-gradient( 45deg, #d5d7e5,#d5d7e5, #eee, #d5d7e5,#d5d7e5, #d5d7e5);
  }
  
  20% {
	  background-image:linear-gradient( 45deg, #d5d7e5, #d5d7e5, #d5d7e5, #eee,#d5d7e5, #d5d7e5);
  }
  40% {
	  background-image:linear-gradient( 45deg,#d5d7e5,#d5d7e5, #d5d7e5, #d5d7e5, #eee, #d5d7e5);
  }
  40% {
	  background-image:linear-gradient( 45deg, #d5d7e5, #d5d7e5, #d5d7e5,#d5d7e5,#d5d7e5, #eee);
	}
  80% {
	  background-image:linear-gradient( 45deg, #eee, #d5d7e5,  #d5d7e5,#d5d7e5,#d5d7e5, #d5d7e5);
	}
  100% {
      background-image:linear-gradient( 45deg, #d5d7e5, #d5d7e5, #eee, #d5d7e5, #d5d7e5, #d5d7e5);
  }
}